@import "theme.css";

.item-card {

    -fx-background-color: #FFFFFF;
    -fx-border-color: #bdc3c7;
    -fx-border-width: 1;
    -fx-border-style: solid;

    -fx-background-radius: 20;
    -fx-border-radius: 20;

    -fx-background-insets: 1;
    -fx-border-insets: 0;

    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 5);
}

.text-info-room {
    -fx-font-family: Arial;
    -fx-font-size: 15;
    -fx-text-fill: #7f8c8d;
}

.value-info-room {
    -fx-font-family: Arial;
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
}

#btn-book-room {
    -fx-background-color: -color-green;

    -fx-font-family: Arial;
    -fx-font-size: 13;
    -fx-font-weight: bold;

    -fx-background-radius: 20;
    -fx-text-fill: white;
}

#btn-book-room:hover {
    -fx-background-color: derive(-color-green, -8%);
}

#btn-book-room:pressed {
    -fx-background-color: -color-green;
    -fx-scale-x: 0.98;
    -fx-scale-y: 0.98;
}

.btn-pencil {
    -fx-background-color: transparent; /* Mặc định trong suốt cho đẹp */
    -fx-cursor: hand;
    /*-fx-background-color: #FFFFFF;*/
}

.btn-pencil:hover {
    -fx-background-color: derive(darkgrey, -8%);
    -fx-background-radius: 30;
}

.btn-pencil:pressed {
    -fx-background-color: grey;
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}

.lbl-status {
    -fx-font-family: Arial;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-padding: 5 10 5 10;
    -fx-background-radius: 15;
    -fx-alignment: CENTER;
}

.status-available {
    -fx-text-fill: #1f771c;
    -fx-background-color: #e8f5e9;
    -fx-border-color: #1f771c;
    -fx-border-radius: 15;
    -fx-border-width: 1;
}


.status-booked, .status-occupied {
    -fx-text-fill: #c0392b;
    -fx-background-color: #fadbd8;
    -fx-border-color: #c0392b;
    -fx-border-radius: 15;
    -fx-border-width: 1;
}

/* 4. Trạng thái MAINTAINED (Màu Cam/Vàng) */
.status-maintained {
    -fx-text-fill: #d35400;        /* Chữ cam đậm */
    -fx-background-color: #fdebd0; /* Nền cam nhạt */
    -fx-border-color: #d35400;
    -fx-border-radius: 15;
    -fx-border-width: 1;
}