@import "theme.css";

@import "theme.css";

#item-card {

    -fx-background-color: #FFFFFF;
    -fx-border-color: #bdc3c7;
    -fx-border-width: 1;
    -fx-border-style: solid;

    -fx-background-radius: 20;
    -fx-border-radius: 20;

    -fx-background-insets: 1;
    -fx-border-insets: 0;

    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 5);
}

.text-info-room {
    -fx-font-family: Arial;
    -fx-font-size: 15;
    -fx-text-fill: #7f8c8d;
}

.value-info-room {
    -fx-font-family: Arial;
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
}

#btn-book-room {
    -fx-background-color: -color-green;

    -fx-font-family: Arial;
    -fx-font-weight: bold;

    -fx-background-radius: 20;
    -fx-text-fill: white;
}

#btn-book-room:hover {
    -fx-background-color: -color-dark-green;
}

#btn-pencil {
    -fx-background-color: #FFFFFF;
}

#btn-pencil:hover {
    -fx-background-color: #ebebeb;
}