@import "theme.css";

.filter-chip {
    -fx-background-color: #f1f2f6;
    -fx-text-fill: #7f8c8d;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-padding: 5 15;
    -fx-cursor: hand;
    -fx-font-weight: bold;
}

.filter-chip:hover {
    -fx-background-color: #e0e0e0;
}


.filter-chip:selected {
    -fx-background-color: #1f771c;
    -fx-text-fill: white;
}


.modern-table {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}


.modern-table .column-header-background {
    -fx-background-color: white;
    -fx-border-color: transparent transparent #ecf0f1 transparent; /* Chỉ kẻ đường dưới */
    -fx-border-width: 2px;
}

.modern-table .column-header {
    -fx-background-color: transparent;
}

.modern-table .column-header .label {
    -fx-text-fill: #7f8c8d;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
}


.modern-table .table-row-cell {
    -fx-background-color: white;
    -fx-border-color: transparent transparent #f5f6fa transparent; /* Kẻ mờ giữa các dòng */
}


.modern-table .table-row-cell:hover {
    -fx-background-color: #f9fbe7; /* Xanh rất nhạt */
}


.modern-table .table-row-cell:selected {
    -fx-background-color: #e8f5e9;
    -fx-table-cell-border-color: transparent;
}


.modern-table:focused {
    -fx-background-insets: 0;
}


.search-box {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 30;
    -fx-border-color: #dcdcdc;
    -fx-border-radius: 30;
    -fx-border-width: 1;
    -fx-padding: 3 15 3 10;
    -fx-alignment: CENTER_LEFT;
}


.search-box:hover {
    -fx-border-color: #b0b0b0;
}


.search-box:focused {
    -fx-border-color: -color-dark-green;
    -fx-border-width: 1.5;
    -fx-effect: dropshadow(three-pass-box, rgba(31, 119, 28, 0.2), 5, 0, 0, 0);
}


.transparent-field {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-border-width: 0;
    -fx-padding: 5;
    -fx-font-size: 13px;
    -fx-prompt-text-fill: #9e9e9e;
}

.transparent-field:focused {
    -fx-background-color: transparent;
}

.btn-primary {
    -fx-background-color:-color-dark-green;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-background-radius: 30;
    -fx-cursor: hand;
    -fx-padding: 8 20;
    -fx-content-display: LEFT;
}


.btn-primary:hover {
    -fx-background-color: -color-dark-green;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 2);
}

.btn-primary:pressed {
    -fx-background-color: #145a12;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 0, 0, 0, 0);
    -fx-scale-x: 0.98;
    -fx-scale-y: 0.98;
}